.container{
    margin-top: 50px;
    max-width: 600px;
}

.form-control{
    border-radius:1rem;
}
.registroTitulo{
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
}

.btnRegistro{
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.error{
    color:tomato;
    font-size: 14px;
}