footer{
    background-color: rgb(49, 211, 233);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 170px;
    
}
.fas{
    font-size: 3em;
    color: greenyellow;
}

.social {
    display: flex;
    flex-direction: row-reverse;
    
}
.social a{
    text-decoration: none;
}

.social li{
    color: rgb(255, 255, 255);
    margin: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 1.5em;
}

.social{
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.legal li{
    list-style: none;
}

.social-footer{
    justify-content: space-between;
}
address{
    color: white;
}

@media (max-width: 700px) {
    .social{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}