<div class="barraLateral">

    <div class="sidebar-container">

        <div class="sidebar-logo">
            Perfil de Usuario
        </div>

        <ul class="sidebar-navigation">
            <li>
                <a [routerLink]="['perfil/datos']">
                    <i class="fa fa-home" aria-hidden="true"></i> Mi perfil
                </a>
            </li>
            <li>
                <a [routerLink]="['/perfil/productos']">
                    <i class="fas fa-list-alt" aria-hidden="true"></i> Mis productos
                </a>
            </li>
            <li>
                <a [routerLink]="['/perfil/favoritos']">
                    <i class="fa fa-users" aria-hidden="true"></i> Favoritos
                </a>
            </li>
            <li>
                <a [routerLink]="['/perfil/carrito']">
                    <i class="fa fa-cog" aria-hidden="true"></i> Mis compras
                </a>
            </li>

        </ul>
    </div>

    <div class="content-container">
        <div class="container-fluid">
        </div>
    </div>

</div>