<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#"><img src="../../../assets/imagenes/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active me-2" aria-current="page" href="#" [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="#" [routerLink]="['/productos']">Productos</a>
                </li>
                <li *ngIf="usuarioService.isLogged()" class="nav-item">
                    <a class="nav-link me-2" href="#" [routerLink]="['/form']"><i class="fas fa-plus-circle"></i>Subir
                        Producto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link me-2" href="#" [routerLink]="['/contacto']">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="btn me-2 mb-2 registro" href="#" [routerLink]="['/login']"><i
                            class="fas fa-user-circle"></i>Inicia
                        Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="btn mb-2 registro" href="#" [routerLink]="['/registro']">Registrate</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="btn mb-2" href="#" [routerLink]="['/carrito']"><i class="fas fa-shopping-cart"></i></a>
                </li> -->
                <div class="cart-menu align-items-center d-flex">
                    <div class="sidebar-social">
                        <ul>
                            <li>
                                <a href="#" class="cart" title="Carrito" target="_blank" rel="nofollow"
                                    [routerLink]="['/carrito']"><i class="fas fa-shopping-cart"></i>
                                    <span id="cart_menu_num" data-action="cart-can"
                                        class="badge rounded-circle">{{sumarCantidadProductos()}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>