<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">APP COLES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/productos']">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/form']">Ingresa un Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/home']">FAQ's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/contacto']">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="btn me-2 mb-2 registro" href="#" [routerLink]="['/login']">Inicia
                        Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="btn me-5 mb-2 registro" href="#" [routerLink]="['/registro']">Registrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>