.navbar{
    background-color: rgb(80, 233, 49);
}

.navbar ul li{
    font-size: 1.2em;
    transition: .5s;

}
.registro{
    border: 1px solid gray;
    
    
}

.fas{
    padding-right: 10px;
    font-size: 1.3em;
}
