.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



.card{
    margin: 10px;
}

.price{
    font-weight: bold;
    font-size: 1.1em;
}

.btnComprar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
    width: 100%;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    
}

.imagen img{
    display: block;
    width: 40%;
    max-height: auto;
    margin:20px;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
}

.cardCarrito{
    width: 100%;
    min-height: 25vh;
    overflow:hidden;
}










