<div class="hero-main">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
        <div class="container" class="col-lg-8 col-md-8 col-sm-12">
            <div class="hero-texto">
                <div class="texto ">
                    <h1><span>"School</span><span>Tools"</span></h1>
                </div>
                <div class="parrafo">
                    <h3>¡Bienvenid@!</h3>
                    <p>La forma más cómoda de vender y comprar material escolar</p>


                    <!-- <p>Aquí encontrarás una comunidad donde conseguir los articulos del cole que necesitas en el mejor
                        estado y al mejor precio.</p>
                    <p>También podrás vender los productos que ya no uses y colaborar con otras familias para darle
                        una
                        segunda vida a las cosas que ya no necesitas.</p>
                    <p>Regístrate y empieza a ahorrar y reutilizar.</p> -->



                </div>
            </div>
        </div>
    </div>
</div>