.mochila img{
    width: 100%;
   
};


.hero-main{
    position: relative;
}
.hero-texto{
    position: absolute;
    width: 300px;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 150px;
    right: 150px;
    
}