
.hero-main{
    background-image: url(../../../assets/imagenes/mochila_ondas.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero-texto{
    display: flex;
    justify-content: flex-end;
    
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}