<div class="hero-main">
    <div class="row">
        <div class="col-lg-5 col-sm-12"></div>
        <div class="container" class="col-lg-7 col-sm-12">
            <div class="hero-texto">
                <div class="texto ">
                    <h1><span>"kid's</span><span>Zone"</span></h1>
                </div>
                <div class="parrafo">
                    <h3>¡Bienvenid@!</h3>
                    <p>Una comunidad donde podrás conseguir los articulos del cole que necesitas en el mejor estado y al
                        mejor precio.</p>
                    <p>Aquí también podrás vender los productos que ya no uses y colaborar con otras familias para darle
                        una
                        segunda vida a las cosas que ya no necesitas.</p>
                    <p>Regístrate y empieza a ahorrar y reutilizar.</p>



                </div>
            </div>
        </div>
    </div>
</div>