<section>
    <div class="principal">
        <article>
            <div class="imagen">
                <div class="img"></div>
            </div>

            <div class="categoria">
                <div class="fondoVacio">
                </div>

                <div class="texto">
                    <h3>Productos</h3>
                    <p>¿Qué producto necesitas? Lo tenemos!!</p>

                    <div class="boton">
                        <button>Categorías</button>
                    </div>
                </div>
            </div>

        </article>

    </div>
</section>