<section>
    <div class="principal" role="button" [routerLink]="[ruta]">
        <article [ngStyle]="{backgroundColor: color}">
            <div class="imagen">
                <div class="img" [ngStyle]="{backgroundImage: 'url('+imagen+')'}"></div>
            </div>

            <div class="categoria">
                <div class="fondoVacio">
                </div>

                <div class="texto">
                    <h3>{{titulo}}</h3>
                    <p>{{texto}}</p>

                    <div class="boton">
                        <button [routerLink]="[ruta]" [ngStyle]="{backgroundColor: color}">{{textoBoton}}</button>
                    </div>
                </div>
            </div>

        </article>

    </div>
</section>