<app-hero></app-hero>
<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <app-card-home titulo="Productos" texto="¿Qué producto necesitas? Seguro que lo tenemos!" color="#81da85"
                imagen="../../../assets/imagenes/mochila.png" ruta="/productos" textoBoton="Productos"></app-card-home>
        </div>
        <div class="col-lg-6 col-sm-12">
            <app-card-home titulo="Coles" texto="Aquí encontraras los productos de cada cole" color="#16c8ce"
                imagen="../../../assets/imagenes/colegio.png" ruta="/mapas" textoBoton="Mapa" class="mt-5">
            </app-card-home>
        </div>
        <div class="col-lg-6 col-sm-12">
            <app-card-home titulo="Registro" texto="Regístrate y empieza a reutilizar" color="#e0392ebf"
                imagen="../../../assets/imagenes/aula.png" ruta="/registro" textoBoton="Registro">
            </app-card-home>
        </div>
        <div class="col-lg-6 col-sm-12">
            <app-card-home titulo="Perfil" texto="Podrás añadir productos, guardar favoritos y ver tu carrito"
                color="#e9a617bf" imagen="../../../assets/imagenes/estudiante.png" ruta="/perfil/datos"
                textoBoton="Perfil">
            </app-card-home>
        </div>

    </div>
</div>