<app-hero></app-hero>
<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-card-home titulo="Productos" texto="¿Qué producto necesitas? Lo tenemos!" color="#81da85"
                imagen="../../../assets/imagenes/school-supplies-5541102_1920.jpg" ruta="/productos"
                textoBoton="Productos"></app-card-home>
        </div>
        <div class="col-sm-6">
            <app-card-home titulo="Coles" texto="Busca los productos de tu cole" color="#16c8ce"
                imagen="../../../assets/imagenes/location-4496459_1280.png" ruta="/mapas" textoBoton="Mapa">
            </app-card-home>
        </div>
        <div class="col-sm-6">
            <app-card-home titulo="Registro" texto="Apúntate para estar al día" color="#e0392ebf"
                imagen="../../../assets/imagenes/child-865116_1920.jpg" ruta="/registro" textoBoton="Registro">
            </app-card-home>
        </div>
        <div class="col-sm-6">
            <app-card-home titulo="Perfil" texto="Perfil de usuario" color="#e9a617bf"
                imagen="../../../assets/imagenes/avatar-2191932_1920.png" ruta="/perfil/datos" textoBoton="Perfil">
            </app-card-home>
        </div>

    </div>
</div>