<div class="usuario">
    <div class="parte1">
        <div class="imagen"></div>
        <div class="boton">
            <button>
                <span>Modificar</span>
            </button>
        </div>
    </div>
    <div class="texto">
        <h3>Bienvenid@ a tu perfil</h3>
        <h4>Hola {{usuario?.nombre}} {{usuario?.apellidos}}!</h4>
        <p>Desde éste espacio podrás:</p>
        <ul>
            <li>Gestionar y modificar tus productos</li>
            <li>Añadir tus favoritos</li>
            <li>Comprar los productos que necesites</li>
        </ul>

    </div>


</div>