<div class="container" style="margin-top: 160px;">
    <div class="rainbow">
        <h3 class="mb-5 login">Inicia sesión</h3>
        <div class="row">
            <div class="col-12">
                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                    <div class="row g-3">

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email">
                        </div>

                        <div class="col-12">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>
                    </div>
                    <button class="btn btn-warning my-4 btnLogin" type="submit">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>