.container{
    margin-top: 50px;
    max-width: 600px;
    min-height: calc(77vh - 170px);
    margin-left: 70px;
}

.form-control{
    border-radius:1rem;
}

.btnLogin{
    width: 30%;
    border-radius: 1rem;
    padding: 1.5%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}