<div class="container">

    <h3 class="mb-5">INICIA SESION</h3>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="row g-3">

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" formControlName="email">
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="password" formControlName="password">
                    </div>
                </div>
                <button class="btn btn-warning my-4 btnLogin" type="submit">Enviar</button>
            </form>
        </div>

    </div>
</div>