.carrito{
    min-height: 500px;
    margin-top:150px;
}

.carrito .texto{
text-align: center;
font-size: 1.5em
 

 
}
.carrito .texto h1{
     border-bottom: 1px solid lightgrey;
     font-family: 'Alfa Slab One', cursive;
     margin-bottom: 1.5em;
     padding-bottom: 0.5em;
}

.carrito .texto p{
    font-family: 'Indie Flower', cursive;
    
}
.boton a{
  text-decoration: none;
  color: black;
}

/*Boton añadir producto*/

button {
  border: 4px solid rgb(0, 0, 0);
  padding: 16px 24px;
  position: relative;
  background-color: transparent;
}
button span {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
}
button:after {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 100%;
  background-color: #ffea00;
  content: "";
  z-index: -1;
  transition: transform 0.2s ease-in, width 0.2s ease-out 0.2s;
}
button:hover:after {
  transform: translate(-10px, -10px);
  width: calc(100% - 10px);
}
button:active:after {
  width: 100%;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* Fin boton añadir producto */

@media(max-width:990px){
  .texto h3{
    font-size: 20px;
  }
  .texto h4{
  font-size: 20px;
  }
  .texto p{
  font-size: 15px;
  }
.texto ul li{
  font-size: 15px;
}

}

@media(max-width:1000px){
    .carrito{
        min-height: 300px;
    }
    .carrito .texto{
        font-size: 1em;
    }
}


@media(max-width:450px){
    .carrito{
        margin-top:50px;
    }
}