.carrito{
    min-height: 500px;
    margin-top:150px;
}

.carrito .texto{
text-align: center;
font-size: 1.5em
 

 
}
.carrito .texto h1{
     border-bottom: 1px solid lightgrey;
     font-family: 'Alfa Slab One', cursive;
     margin-bottom: 1.5em;
     padding-bottom: 0.5em;
}

.carrito .texto p{
    font-family: 'Indie Flower', cursive;
    
}

@media(max-width:1000px){
    .carrito{
        min-height: 300px;
    }
    .carrito .texto{
        font-size: 1em;
    }
}


@media(max-width:450px){
    .carrito{
        margin-top:50px;
    }
}