.usuario{
    background-color: rgb(178, 223, 197);
  margin: 20px;
  padding:20px;
    width: 500px;
    height: 200px;
  
}

.carrito{
    background-color: rgb(238, 203, 209);
   margin:20px;
   padding:20px;
    width: 500px;
    height: 200px;
   
}