<div class="container">
    <p> Productos Disponibles del Colegio: </p>
    <h2>{{colegio?.nombre}}</h2>

    <p class="sinproductos" *ngIf="arrProductosCole && arrProductosCole.length===0">Éste centro no tiene productos
        disponibles</p>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let product of arrProductosCole">
            <app-card-producto [producto]="product"></app-card-producto>
        </div>
    </div>
    <div class="botones">
        <div class="btnComprar">
            <button class="btn btn-info d-flex " [routerLink]="['/productos']">Ver todos los productos</button>
        </div>
        <div class="btnComprar">
            <button class="btn btn-info d-flex mapas" [routerLink]="['/mapas']">Volver a mapas</button>
        </div>
    </div>
</div>