.container{
    max-width: 400px;
    background-color: rgb(255, 255, 151);
    margin-top: 20px;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    display: block;
    width: 150px;
    height: 150px;
    margin:20px 0;
}

.texto{
    background-color: rgb(255, 145, 71);
}

.piecard{
    background-color: rgb(250, 184, 187);
    display: flex;
    justify-content: space-around;
}