.buscador{
    width: 100%;
}


.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
      
}
select option{
    color: rgb(255, 115, 0);
}


.cardProducto{
    width: 400px;
    background-color: rgb(255, 255, 151);
    margin: 20px;
    border-radius: 10px;
}
.carrito{
    color:white;
    font-size: 1.5em;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    display: block;
    width: 150px;
    height: 150px;
    margin:20px 0;
    border-radius: 10px;
}

.texto{
    background-color: rgb(255, 145, 71);
    border-radius: 10px 10px 0 10px;
}

.piecard{
    background-color: rgb(250, 184, 187);
    display: flex;
    justify-content: space-around;
    border-radius: 10px 0 10px 10px;
}

