<div class="container">
    <div class="productos">
        <div class="row ">
            <div class="col-4 cardProducto">
                <div class="row ">
                    <div class="col-6 imagen">
                        <img src="{{producto.imagen}}" alt="">
                    </div>
                    <div class="col-6 texto pt-2">
                        <h4 class="mb-3 mt-3">{{producto.titulo}}</h4>
                        <!--  <p class="descripcion">{{producto.descripcion}}</p>
                        <p *ngIf="(producto.curso)">Curso: {{producto.curso}}</p>
                        <p *ngIf="(producto.talla)">Talla: {{producto.talla}}</p> -->
                        <a href="#" [routerLink]="['/detalle/', producto.id]">Ver Detalle</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 piecard pt-2">
                        <h3>{{ producto.precio | currency:'EUR' }}</h3>
                        <button class="mb-2 carrito" (click)="onClick(producto)" *ngIf="seleccionado"><i
                                class="fas fa-shopping-cart"></i></button>

                        <p *ngIf="!seleccionado">Producto añadido al carrito</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>