.buscador{
    width: 100%;
}

.buscadorTexto{
    display: flex;
    flex-direction: row;
}
.container{
    min-height: 700px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
      
}
select option{
    color: rgb(255, 141, 47);
}


.cardProducto{
    width: 400px;
    max-height: 240px;
    background-color: rgb(255, 255, 213);
    margin: 20px;
    border-radius: 10px;
}
.carrito{
    color:rgb(255, 150, 52);
    font-size: 1.5em;
}
.descripcion{
    color: rgb(73, 72, 72);
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    display: block;
    width: 150px;
    height: 150px;
    margin:20px 0;
    border-radius: 10px;
}

.texto{
    background-color: rgb(203, 255, 107);
    border-radius: 10px 10px 0 10px;
    text-align: center;
   
}

.piecard{
    background-color: rgb(184, 250, 233);
    display: flex;
    justify-content: space-around;
    border-radius: 10px 0 10px 10px;
    
}

