<div class="">
    <ul class="cards">
        <li>
            <a class="card">
                <img src="{{producto.imagen}}" class="card__image" alt="" />
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path />
                        </svg>
                        <img class="card__thumb" src="{{producto.imagen}}" alt="" />
                        <div class="card__header-text">
                            <h3 class="card__title">{{producto.titulo}}</h3>
                            <span class="card__status">{{ producto.precio | currency:'EUR' }}</span>
                        </div>
                    </div>
                    <p class="card__description">{{producto.descripcion}}</p>
                    <div class="row">
                        <div class="col-6">
                            <p class="card__description text-center" *ngIf="(producto.curso)">Curso: {{producto.curso}}
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="card__description text-center" *ngIf="(producto.talla)">Talla: {{producto.talla}}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <a class="d-flex justify-content-center" [routerLink]="['/detalle/', producto.id]">Ver
                                Detalle</a>
                        </div>
                        <div class="col-7">
                            <a class="d-flex justify-content-center text-center favorito"
                                (click)="onClickFavorito(producto)" *ngIf="incluidoVisible"><i
                                    class="fas fa-star m-1"></i>Añadir
                                a la lista de deseos</a>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <a class="link-warning carrito mb-3 mt-3" (click)="onClick(producto)"
                                    *ngIf="seleccionado && carritoVisible">Añadir
                                    al
                                    Carrito<i class="fas fa-shopping-cart"></i></a>
                                <a class="link-warning carrito mb-3" [routerLink]="['/modificar', producto.id]"
                                    *ngIf="modificarVisible">Modificar producto</a>

                                <p *ngIf="!seleccionado">Producto añadido al carrito</p>
                            </div>
                        </div>

                    </div>
                </div>
            </a>
        </li>
    </ul>

</div>