<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="coles">
                <h1>Buscador de Mapas</h1>
                <p>Aquí encontrarás los productos que hay disponibles en cada colegio.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="mapa">
                    <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="14" #map
                        (mapReady)="onMapReady($event)">

                        <agm-marker [latitude]="latitud" [longitude]="longitud"></agm-marker>

                        <agm-marker *ngFor="let cole of arrColegios" [latitude]="cole.latitud"
                            [longitude]="cole.longitud"
                            [iconUrl]="{url: './assets/imagenes/pngwing.com.png', scaledSize:{width:20,height:30}}">

                            <agm-info-window>
                                <h4>{{cole.nombre}}</h4>
                                <hr>
                                <p>Código del centro: {{cole.codigo_centro}}</p>
                                <p>Web: <a [href]="cole.web" class="web">{{cole.web}}</a></p>
                                <p>Dirección: {{cole.direccion}}</p>
                                <button class="btn btn-primary btn-sm" type="submit"
                                    [routerLink]="['/productos/colegio/', cole.id]">Ver
                                    productos</button>
                            </agm-info-window>
                        </agm-marker>

                    </agm-map>
                </div>
            </div>

            <div class=" col-4">
                <div class="formularioMapas">

                    <form class="formulario">
                        <div class="col-12 mb-2">
                            <label for="" class="form-label">Nombre del Colegio</label>
                            <input type="text" id="nombre" class="form-control">
                        </div>


                    </form>
                    <button class="btn btn-warning btn" (click)="onClick()">Buscar</button>
                </div>

            </div>

        </div>
    </div>
</div>