.coles{
    background-color:lightpink;
 margin-top:10px;
 margin-bottom: 10px;
 padding: 10px;
}

.mapa{
 border-radius: 40px;
}

agm-map{
    max-width: 600px;
    height: 400px;
   
}

.container{
    margin-top: 120px;
}

.btn{
    margin-left: 15px;
}
h4{
    color: red;
}
