<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="coles">
                <h1>Buscador de Mapas</h1>
                <p>Aquí encontrarás los productos que hay disponibles en cada colegio.</p>
            </div>
        </div>

        <div class="col-6">
            <div class="mapa"></div>
        </div>

        <div class="col-6">

            <div class="container">
                <div class="formularioMapas">

                    <form class="formulario">
                        <div class="col-12 mb-2">
                            <label for="" class="form-label">Nombre</label>
                            <input type="text" id="nombre" class="form-control">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="" class="form-label">xxxx</label>
                            <input type="text" id="nombre" class="form-control">
                        </div>

                        <div class="col-12 mb-2">
                            <label for="" class="form-label">xxx</label>
                            <input type="text" id="nombre" class="form-control">
                        </div>

                        <button class="btn btn-warning btn-lg my-4" type="submit">Enviar</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>